@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Yusei+Magic&display=swap");

:root {
  --red-violet: #8c2f39;
  --corn: #f0e263;
  --bittersweet: #f76c5e;
  --atomic-tangerine: #f68e5f;
  --powder-blue: #9ed8db;
  --pussian-blue: #1d3354;
  --step-up-6: 2.6089640186em;
  --step-up-5: 2em;
  --step-up-4: 1.7511em;
  --step-up-3: 1.5157em;
  --step-up-2: 1.3195em;
  --step-up-1: 1.1487em;
  /* baseline: 1em */
  --step-down-1: 0.8706em;
  --step-down-2: 0.7579em;
  --step-down-3: 0.6599em;
  --step-down-4: 0.5745em;
  --step-down-5: 0.5em;
}

#body-wrap {
  font-family: "Open Sans", sans-serif;
  line-height: 150%;
  position: relative;
  background-image: linear-gradient(135deg, #474647, #262226);
  font-size: 2vw;
}

@media screen and (orientation: portrait) {
  #body-wrap {
    font-size: 2vh;
  }
}

@media screen and (orientation: landscape) {
  #body-wrap {
    font-size: 2vw;
  }
}

h1 {
  font-size: var(--step-up-6);
  font-family: "Yusei Magic", sans-serif;
  font-weight: 900;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
h2 {
  font-size: var(--step-up-4);
  line-height: 150%;
  font-family: "Yusei Magic", sans-serif;
}
h3 {
  font-size: var(--step-up-3);
  line-height: 150%;
}
h5 {
  font-size: var(--step-up-1);
  line-height: 150%;
  font-family: "Yusei Magic", sans-serif;
}
h6 {
  font-size: var(--step-down-1);
  line-height: 150%;
}
p {
  font-size: var(--step-down-2);
  line-height: 150%;
}

/* CSS for Navbar*/
#nav-wrap {
  font-size: var(--step-up-1);
}

.navbar-custom {
  background-color: var(--pussian-blue);
  font-family: "Yusei Magic", sans-serif;
}

.navbar-brand a {
  color: #ffffff;
}

.navbar-custom a:hover {
  text-decoration: none;
}

/*CSS for Cover*/
#cover {
  height: 100%;
  margin-bottom: -56px;
}

.carousel-indicators {
  bottom: 5vh;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel span {
  font-size: 20px;
}

/*CSS for About*/
#about {
  padding-top: 56px;
  margin-bottom: -56px;
}

#about-header {
  background-color: #f25f5c;
}

#about-wrapper {
  width: 90%;
  padding-bottom: 30px;
  margin: auto;
  color: #ffffff;
}

#resume {
  text-align: center;
  padding-top: 30px;
}

#education,
#tech-skills,
#fulltime,
#soft-skills {
  padding-top: 20px;
}

.skills {
  columns: 2;
  list-style: none;
  padding-left: 0;
  line-height: 200%;
}

/*CSS for Portfolio*/
#portfolio {
  padding-top: 56px;
}

#portfolio-header {
  background-color: rgba(31, 148, 191);
}

#portfolio-content {
  width: 90%;
  margin: auto;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.portfolio-tab {
  font-family: "Yusei Magic", sans-serif;
  padding: 20px 32px 20px 32px;
  color: #a9e9ff;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
}

.portfolio-tab a:hover {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: #a1a2a2;
}

.tab-pane {
  width: 95%;
  margin: auto;
}

#portfolio-nav,
.tab-content {
  padding-top: 1rem;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
}

#portfolio .card {
  background-color: transparent;
  border-color: transparent;
}

#portfolio .card-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 5px;
}

.card img {
  width: 100%;
}

.card-body a {
  color: #237998;
}

/*CSS for Footer*/
footer {
  background-color: #1d3354;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: var(--step-down-2);
}

footer ul {
  list-style: none;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  color: var(--corn);
}

/*
#cover-words {
  text-align: center;
  color: #ffffff;
  padding: 5vh 5vw 0 5vw;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  filter: drop-shadow(2px 2px 1px #555555);
}


.arrow {
  color: rgba(255, 255, 255, 0.5);
  filter: drop-shadow(2px 2px 1px #555555);
  font-size: 48px;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
}

.arrow:hover {
  color: var(--queen-blue);
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 4px;
  border-radius: 50%;
  padding: 6px 6px;
}

.dot:hover {
  background-color: var(--queen-blue);
  box-shadow: none;
}

.dot:focus {
  box-shadow: none;
}*/
